.rcorners {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 500px;
    height: 300px;    
	margin: auto;
	overflow-y: scroll;

}

.relative {
	position: relative;
    left: 400px;
	top: 20px;
}

/***********************
  RAISED BUTTONS
************************/
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

/***********************
  CUSTOM BTN VALUES
************************/

.btn {
    padding: 5px 9px;
    border: 0 none;
	font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
	position: relative;
    left: 50px;
    top: 50px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}


/***********************
  SCROLLBAR
************************/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 18px;
  height: 18px;
}
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 1px solid #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
::-webkit-scrollbar-track {
  background: #808080;
  border: 0px solid #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #808080;
}
::-webkit-scrollbar-track:active {
  background: #808080;
}
::-webkit-scrollbar-corner {
  background: transparent;
}